aiohttp==3.6.2
alpaca-trade-api==0.51.0
alpha-vantage==2.2.0
async-timeout==3.0.1
attrs==20.1.0
backtrader==1.9.76.123
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
fredapi==0.4.2
idna==2.10
kiwisolver==1.2.0
matplotlib==3.2.2
multidict==4.7.6
numpy==1.19.1
pandas==1.1.1
patsy==0.5.1
Pillow==8.3.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
scipy==1.5.4
six==1.15.0
statsmodels==0.12.1
urllib3==1.25.10
websocket-client==0.57.0
websockets==9.1
yarl==1.5.1
